/* Don't change the existing CSS. */

#outer-box {
  background: #80007F;
}

.box {
  background-color: blue;
  padding: 10px;
}

.box .inner-box {
  background: red;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}

p.white-text {
  color: white;
}